<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.mapper.MemberMapper">

	<!-- 
		Mybatis SqlSessionFactoryBean 에서는 Mybatis 설정 기능을 활용할수 있도록 설정 파일을 읽어오는 부분(mybatis-config.xml)과 
		SQL 문을 작성해둘 mapper.xml 로 구성 , 보통 테이블 1개당 mapper.xml 을 작성
		mybatis-config.xml의 typeAlias에 등록해두지 않았다면 
		
		<select id="selectMember" resultType="com.example.dto.MemberVO" >
			SELECT ID, PW ,NAME FROM TEST
		</select>
		
		이렇게 해야 한다.
		
		여기서 id는 DAO에서 사용하기 위함, resultType은 쿼리 실행 후 데이터를 memberVO에 담아서 전달
	-->
	
	<!-- 환자 이름으로 환자 검색 -->
	<select id="getSearchPatient" parameterType="PatientVO" resultType="PatientVO">
		SELECT pNumber, pName, age FROM patient WHERE 1=1
			<if test="pName != null">
				AND pName LIKE CONCAT('%',#{pName},'%')
			</if>
	</select>
	
	<!-- 대기자 명단에 추가 -->
	<insert id="addWaitingList" parameterType="PatientVO">
		INSERT INTO waitingList(pNumber, pName, age, sex) 
		VALUES(#{pNumber},#{pName}, #{age}, #{sex})
	</insert>
	
	<!-- 환자 테이블에 저장 / 신규 접수 일경우 -->
	<insert id="savePatient" parameterType="PatientVO">
		INSERT INTO patient(pNumber, pName, age, sex) 
		VALUES(#{pNumber},#{pName}, #{age}, #{sex})
	</insert>
	
	<!-- 환자 테이블에 수정 / 기존 접수되어있을 경우 수정  -->
	<update id="modifyPatient" parameterType="PatientVO">
		update patient set pName=#{pName}, age=#{age}, sex=#{sex}
		Where pNumber = #{pNumber}
	</update>
	
	<!-- 평가된 룰 전체 불러 옴  -->
	<select id="selectMember" resultType="memberVO">
		SELECT patientNum ,patientName ,DATE ,SCORE ,COMMENT FROM EvaluatedRule
	</select>
	
	<!-- 룰 평가 후 디비 저장    -->
	<insert id="insertEvalRule" parameterType="memberVO">
		INSERT INTO EvaluatedRule(patientNum, patientName, DATE, SCORE, COMMENT) 
		VALUES(#{patientNum}, #{patientName}, #{date}, #{score}, #{comment})
	</insert>
	
	<!-- 룰 평가 테이블에서 검색기능 -->
	<select id="getSearchEvalRule" parameterType="MemberVO" resultType="MemberVO">
		SELECT * FROM EvaluatedRule WHERE 1=1
		<if test="patientName != null and patientName != ''">
			AND patientName LIKE CONCAT('%',#{patientName},'%')
		</if>
	</select>
</mapper>