<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.mapper.RuleMapper">


	<!-- 해당 환자 증상들 불러옴 -->
	<resultMap id="PatientResult" type="PatientVO">
		<result property="pNumber" column="pNumber"/>
		<result property="pName" column="pName"/>
		<result property="age" column="age"/>
		<collection property="symptomArr" column="pNumber" javaType="java.util.ArrayList" ofType="PatientSymptomVO" select="selectPatientSymptoms"/>
	</resultMap>
	
	<select id="getPatientSymptoms" parameterType="String" resultMap="PatientResult">
		SELECT pNumber, pName, age FROM patient WHERE pNumber = #{pNumber}
	</select>
	
	<select id="selectPatientSymptoms" resultType="PatientSymptomVO">
		SELECT pNum, symptom, degree FROM updateSymptom 
		WHERE pNum = #{pNum} 	
	</select>
	
	
	<!-- 증상 이름으로 증상 검색 -->
	<resultMap id="symptomResult" type="SymptomVO">
       <result property="symptom" column="sName"/>
       <result property="sRegion" column="sRegion"/>
       <result property="min" column="min"/>
       <result property="max" column="max"/>
    </resultMap>

	<select id="getSearchSymptom" parameterType="SymptomVO" resultMap="symptomResult">
		SELECT sName, sRegion, min, max FROM symptom WHERE 1=1
			<if test="symptom != null">
				AND sName LIKE CONCAT('%',#{symptom},'%')
			</if>
	</select>

</mapper>